/* (((( nav )))) */
.nav{
    display: block;
    background-color: var(--white-color);
    padding: 1rem;
    box-shadow: 0  8px 5px var(--text-200);
}
.dark .nav{
    background-color: #242a38;
    box-shadow: 0  4px 4px #2f343a;
}
.nav .nav_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_wrapper .title{
    display: block;
    font-family: var(--dana-black);
    font-size: 2.5rem;
    user-select: none;
    color: var(--text-100);
}
.dark .nav_wrapper .title{
    color: var(--white-color);
}
.nav_wrapper .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    outline: none;
    border: none;;
    color: var(--text-100);
    font-size: 1.5rem;
    transition: all 0.4s linear;
    cursor: pointer;
}
.nav_wrapper .btn:hover{
    color: var(--text-200);
}
.dark .nav_wrapper .btn:hover{
    color: var(--bg-dark);
}
/* (((( nav )))) */
/* (((( TopBar )))) */
.topBar{
    display: block;
}
.topBar_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--white-color);
    padding: 1rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    box-shadow: 0  8px 5px var(--text-200);
}
.dark .topBar_wrapper{
    background-color: #242a38;
    box-shadow: 0  4px 4px #2f343a;
}
.topBar_btns{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.topBar_btns .download{
    width: 180px;
}
/* (((( TopBar )))) */
/* (((( Todos )))) */
.todos{
    display: block;
    margin-block: 5rem  ;
}
.todos .container_todos{
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
.todos .todos_items{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
    gap: 1rem;
}
.todos .todoCart{
    display: block;
    max-width: 250px;
    background-color: var(--white-color);
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
}
.dark .todoCart{
    background-color: var(--bg-dark-100);
    color: var(--white-color);
    position: relative;
}
.todoCart .todoCart_title{
    display: block;
    font-family: var(--dana-black);
    font-size: 1rem;
}
.todoCart .todoCart_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    background-color: var(--white-color);
    border-radius: 0.5rem;
    transition: all 0.3s ease-out;
}
.todoCart:hover .todoCart_buttons{
    width: 100%;
    visibility: visible;
}
.dark .todoCart_buttons{
    background-color: var(--bg-dark-100);
}
 .todoCart_buttons .todoCart_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
 }
/* (((( Todos )))) */
/* ((((  Mode Todo )))) */
.model_addTodo{
    display: block;
    width: 100%;
    height: 100%;
}
.model .rating{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1.1rem;
}
.model .rating span{
    cursor: pointer;
    transition: all 0.4s linear;
    &:hover{
        color: var(--secondary-color);
    }
}
/* ((((  Mode Todo )))) */
/* (((()))) */
/* (((()))) */
/* (((()))) */
/* (((()))) */


