/* <<<< FONT  >>>> */
@font-face {
    font-family: danaBlack;
    src: url('../../public/font/Dana-Black.woff')format(woff);
}
@font-face {
    font-family: danaBold;
    src: url('../../public/font/Dana-Bold.woff')format(woff);
}
@font-face {
    font-family: danaMedium;
    src: url('../../public/font/Dana-Medium.woff')format(woff);
}
/* root  */
:root{
    --dana-black: danaBlack;
    --dana-bold : danaBold;
    --dana-medium : danaMedium;

    --bg-Light: #f3f4f6;
    --bg-dark: #111828;
    --bg-dark-100: #242a38;
    --white-color: #ffffff;
    --text-100 : #424753;
    --text-200: #a3a8b2;
    --text-300: #feffff;
    --text-400: #fefeff;
    --primary-color:#38a364;
    --primary-color-100:#009b4c;
    --secondary-color:#f49e0b;
    --secondary-color-100:#f49e4c;
    --success-color:#018be4;
    --success-color-100:#004c7d;
    --danger-color: #fc0000;
    --danger-colo-100: #e52b2b;
}

/* body */
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--dana-medium);
    font-size: 1rem;
    background-color: var(--bg-Light);
}

/* dark */
.dark{
    background-color: var(--bg-dark)
}

/* container */
.container{
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
}
/* button style */
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 130px;
    height: 2rem;
    color: var(--white-color);
    border-radius: 0.5rem;
    outline: none;
    border: none;
    font-family: var(--dana-bold);
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.4s linear;
}
.btn:hover{
    transform: translateY(-5px);
}
.btn.primary{
    background-color: var(--primary-color);
}
.btn.primary:hover{
    background-color: var(--primary-color-100);
}
.btn.success{
    background-color: var(--success-color);
}
.btn.success:hover{
    background-color: var(--success-color-100);
}
.btn.secondary{
    background-color: var(--secondary-color);
}
.btn.secondary:hover{
    background-color: var(--secondary-color-100);
}
.btn.cancel{
    background-color: var(--danger-color) ;
}
.btn.cancel:hover{
    background-color: var(--danger-colo-100);
}

/* Responsive  Utilities*/

@media (max-width : 1360px) {
}
@media (max-width : 1260px) {
}
@media (max-width : 1200px) {
}
@media (max-width : 1100px) {
}
@media (max-width : 992px) {
}
@media (max-width : 768px) {
}
@media (max-width : 576px) {
    .topBar_wrapper{
        flex-direction: column;
    }
    .topBar_btns{
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .topBar_wrapper .setting{
        background-color: var(--primary-color);
        &:hover{
            background-color: var(--primary-color-100);
        }
    }
}
@media (max-width : 320px){
}